.title_main{
  text-align: center;
  margin: 76px 0;
  font-weight: 900;
}
.book-catalog{
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  max-width: 960px;
  margin:0 auto;
}
.book-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
  justify-content: center;
}
.book-card{
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
}


